@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	margin: 0 auto;
	background-color: $bg;
}

body {
	max-width: $maxW;
	min-width: $minW;
	font-size: $font;
	color: $fontColorBlack;
	background-color: #fff;
}

.container {
	width: 100%;
}

// 段落文字
article {
	& > h2 {
		padding: 0 $padding;
		font-size: $fontTitle;
	}

	& > p {
		padding: 0 $padding;
		text-indent: 2em;
		text-align: justify;
		line-height: 1.5;
		margin-bottom: $marginBottom;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// 加载更多
.loadmore {
	@include halfpxline(0, $borderColor, 0, 0, 1px, 0);
	width: 100%;
	height: $loadmoreH;
	line-height: $loadmoreH;
	color: $fontColorBlack;
	text-align: center;
    display: block;
    cursor: pointer;

    &.active {
    	cursor: auto;
    }
}