@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.myprofit {
	padding-top: $marginBottom;
}

.profit-sum {
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: $marginBottom;
	@include halfpxline(100%);
	border-radius: 130px;
	text-align: center;

	p {
		padding: 40px 0;

		span {
			margin-top: 6px;
			font-weight: bolder;
			display: block;
		}
	}
}

.profit-lists {

}

.profit-list {
	@include halfpxline(0, $borderColor, 1px , 0, 0, 0);
	padding: 10px $padding;

	&:last-child {
		@include halfpxline(0, $borderColor, 1px , 0, 1px, 0);
	}
	
	p {
		text-indent: 2em;
		text-align: justify;
		line-height: 1.75;

		span {
			padding: 0 10px;
			font-weight: bolder;
			font-size: 18px;
		}
	}

	.date {
		text-align: right;
	}
}