@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.share-img {
	width: 100%;
	height: 150px;
	// background-color: red;
	margin-bottom: $marginBottom;
	display: none;
}