<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Your title">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__STATIC__/css/common.css">

	<title>我的收益</title>
	<link rel="stylesheet" href="__STATIC__/css/profit.css">
</head>
<body>
	<div class="container myprofit">
		<div class="profit-sum">
			<p>累计收益<span>￥20</span></p>
		</div>

		<div class="profit-lists">
			<div class="profit-list">
				<p>您的享友<span>凉小凉</span>在<span>美车堂</span>洗车，消费<span>100元</span>，您获得<span>2元</span>收益。</p>
				<div class="date">2017/03/06 18:14</div>
			</div>
			<div class="profit-list">
				<p>您的享友<span>凉小凉</span>在<span>美车堂</span>洗车，消费<span>100元</span>，您获得<span>2元</span>收益。</p>
				<div class="date">2017/03/06 18:14</div>
			</div>
			<div class="profit-list">
				<p>您的享友<span>凉小凉</span>在<span>美车堂</span>洗车，消费<span>100元</span>，您获得<span>2元</span>收益。</p>
				<div class="date">2017/03/06 18:14</div>
			</div>
			<div class="profit-list">
				<p>您的享友<span>凉小凉</span>在<span>美车堂</span>洗车，消费<span>100元</span>，您获得<span>2元</span>收益。</p>
				<div class="date">2017/03/06 18:14</div>
			</div>
		</div>
	</div>
</body>
</html>